.education-container {
    height:100%;
    width: 100%;
    .education-1{
        display: flex;
        align-content: center;
        justify-content: space-between;
        margin-bottom: 2rem;
        text-align: right;
        .ucc-image{
            display: flex;
            flex-direction: row;
            height: 60vh;
            width:auto;
            border-radius: 8px;
        }
        .ucc-list {
            list-style: none;
            text-align: right;
            
        }
    }
    .education-2{
        display: flex;
        align-content: center;
        justify-content:space-between;
        text-align: left;
        .nmamit-image{
            display: flex;
            flex-direction: row;
            height: 60vh;
            width:auto;
            border-radius: 8px;
        }
        .nmamit-list {
            list-style: none;
            text-align: left;
            padding: 0;
            
        }
    }
}

h1 {
    text-align: left;
    font-size: 2.5rem; 
    font-weight: bold;
    color: #36454F;
    font-weight: 800;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}

h3 {
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 0;
    color: #36454F;
  }

  p {
    font-size: 1rem; 
    line-height: 1.5; 
    color: #666;
    margin-bottom: 0px; 
    text-align: left;
    font-weight: 400;
    letter-spacing: 1px;
  }

.year-1{
    text-align: left;
}

.uni-info-1 {
    margin-left: 2rem;
}

.year-2{
    text-align: right;
}

.uni-info-2{
    margin-right: 2rem;
}

@media screen and (max-width: 1000px){
    .education-container{
    .education-1{
        display: flex;
        align-content: center;
        flex-direction: column;
        text-align: center;
        .ucc-image{
            width: 100%;
            max-width: 900px;
            max-height: 500px;
            object-fit: cover;
        }
        .ucc-list {
            list-style: none;
            text-align: center;
            margin-left: 0;
            padding-left: 0;
        }

        .uni-info-1 {
            margin-left: 0;
        }
        
    }
    .education-2{
        display: flex;
        align-content: center;
        flex-direction: column-reverse;
        text-align: center;
        .nmamit-image{
            width: 100%;
            max-width: 900px;
            max-height: 500px;
            object-fit: cover;
        }
        .nmamit-list {
            list-style: none;
            text-align: center;
            margin-left: 0;    
        }
        .uni-info-2{
            margin-right: 0;
        }
    }

}
  
}