
.profile-container {
  display: flex; 
  align-items: center; 
  padding-top: 2vh;
  /* margin: 10%; */
  height: 75vh;
  width: 100vh;
  min-height: fit-content;
  min-width: fit-content;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  background: repeating-radial-gradient(
    circle at 0 0, 
    transparent 0,
    transparent 10px,
    #ffffff55 10px,
    #f0f0f0 20px 
  ), repeating-linear-gradient( #ffffff55, #ffffff );

}

/* CSS for image container */
.image-container {
    padding:2%;
  }

    /* CSS for the profile image */
    .profile-picture {
      display: flex;
      height: 400px;
      width: 400px;
      margin: auto 0;

    }
  
  .text-area {
    flex: 1; 
    display: flex;  
    flex-direction: column;
    align-items: flex-start;

  }

  .my-name {
    font-size: 2.5rem; 
    font-weight: bold;
    color: #36454F; 
    margin-bottom: 0px;
    font-weight: 800;
    letter-spacing: 1px;
  }
  h3 {
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 0;
    color: #36454F;
  }
  p {
    font-size: 1rem; 
    line-height: 1.5;
    color: #666; 
    margin-bottom: 0px; 
    text-align: left;
    font-weight: 400;
    letter-spacing: 1px;
  }

  .button-row{
    flex: row;
    justify-items: space-between;
    width: 100%;
  }
  

  .flat-button, .flat-button2 {
    color: #fff;
    background-color: #36454F;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #36454F;
    border-radius: 50px;
    margin-top: 25px;
    float: left;
    animation: fadeIn 1s 1.8s backwards;
    white-space: nowrap;
    &:hover {
        background: #fff;
        color: #36454F;
    }
}


@media screen and (max-width: 1000px){

  .profile-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2%;
    height: 110%;
    width: 100%; 
    min-height: fit-content;
    min-width: fit-content;
    border-radius: 50px;
  }
  .image-container {
    display: flex;
    justify-content: center;
    /* padding:2%; */
    width: 75%;
  }

  .profile-picture {
    height: 100%;
    width: 100%;
  }

}

.text-area {
  display: flex; 
  flex-direction: column;
  align-items: center;
  padding: 2%;
}

.my-name{
  text-align:center;
  font-size: 2.5em; 
  font-weight: bold;
  color: #36454F; 
  margin-bottom: 0px; 
  font-weight: 800;
  letter-spacing: 1px;
}
h3 {
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 0;
  color: #36454F;
}
.profile-content {
  font-size: 1em; 
  line-height: 1.5; 
  color: #666; 
  margin-bottom: 0px; 
  text-align: center;
  font-weight: 400;
  letter-spacing: 1px;
}

.button-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flat-button {
  color: #fff;
  background-color: #36454F;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 4px;
  /* font-family: sans-serif; */
  text-decoration: none;
  padding: 10px 18px;
  border: 1px solid #36454F;
  border-radius: 50px;
  margin-top: 25px;
  float: left;
  animation: fadeIn 1s 1.8s backwards;
  white-space: nowrap;
  &:hover {
      background: #fff;
      color: #36454F;
  }
}

.flat-button2{
  color: #fff;
  background-color: #36454F;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 4px;
  text-decoration: none;
  padding: 10px 18px;
  border: 1px solid #36454F;
  border-radius: 50px;
  margin-top: 25px;
  float: left;
  animation: fadeIn 1s 1.8s backwards;
  white-space: nowrap;
  &:hover {
      background: #fff;
      color: #36454F;
  }

}

@media screen and (max-width: 1000px){

  .button-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

}
