.footer-container{
    /* padding-top: 1rem; */
    border: 5px;
    border-color: black;
    box-sizing: border-box;
    /* box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0; */
}


.footer {
    font-size: 0.8rem; 
    line-height: 1.5;
    background-color: #36454F;
    color: #fff; 
    margin-bottom: 0px; 
    text-align: center;
    font-weight: 400;
    letter-spacing: 1px;
}